Source: ros-kinetic-cob-default-robot-behavior
Section: misc
Priority: extra
Maintainer: Nadia Hammoudeh Garcia <nhg@ipa.fhg.de>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-cob-default-robot-behavior
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-cob-light, ros-kinetic-cob-script-server, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-std-srvs
Description: The cob_default_robot_behavior package
